@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
body{
    font-family: 'Castoro', serif;
   
    background-attachment: fixed;
    background-size: cover;
    display: block;
    text-align: center;
    width:100%;
    /* height: auto; */
}
html{
    background-image:url('images/avtaar3.jpg');
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

textarea{
    text-align: center;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing:unset;
    background-color:#E2E8F0;
}
#output {
    display: block;
    background-color:#E2E8F0;
    border: 1px solid black;
    padding: 1rem;
    height: 14vh;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
}
#btn-translate{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 1rem; */
    font-size: 4vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    #1E40AF
}
h2{
    background-color: darkcyan;
    width: 30%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
h1{
    background-color: #38BDF8;
    width: 30%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p{
    /* text-decoration:none; */
    color: white;
    background-color:#4b5300 ;
    font-size: large;
    font-weight: bolder;
    width: 70%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}
a{
    font-weight: bolder;
    text-decoration: none;
    color: whitesmoke;
}
